<h1>Facebooks#show</h1>

<%= social_share_button_tag(@post.title, :url => "https://www.facebook.com/", :image => "http://foo.bar/images/a.jpg", desc: "The summary of page", via: "Facebook") %>
<p>Find me in app/views/facebooks/show.html.erb</p>
