#fowls.transitions-enabled
	- @fowls.each do |fowl|
		.box.panel.panel-default
			=	link_to (image_tag	fowl.image.url), fowl
			.panel-body
				%h2= link_to fowl.title, fowl
				%p.user
					= fowl.user.name if fowl.user
