= simple_form_for([@fowl, @fowl.comments.build]) do |f|
	.form-group
		= f.input :content, label: "Reply to thread", input_html: { class: 'form-control'  }
	= f.button :submit, class: "btn btn-primary"