 <%= simple_form_for(@contact) do |f| %>
 
	<%= f.error_notification message: 'Please provide your email.' %>

  <div class="input-group" style="width:340px;text-align:center;margin:0 auto;">
    <input name="contact[email]" class="form-control input-lg email" title="Don't worry. We hate spam, and will not share your email with anyone." placeholder="Email Address" type="email" required>
    <span class="input-group-btn"><%= f.button :submit, "Subscribe", class: "btn btn-lg btn-danger" %></span>
  </div>

<% end %>
