
<!--
<h1>Listing contacts</h1>

<table>
  <tr>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% #@contacts.each do |contact| %>
  <tr>
    <td><%#= contact.email %></td>
    <td><%#= link_to 'Show', contact %></td>
    <td><%#= link_to 'Edit', edit_contact_path(contact) %></td>
    <td><%#= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% #end %>
</table>

<br />

<%#= link_to 'New Contact', new_contact_path %>
-->



 <div class="container">

      <div class="row">
       
        <div class="col-lg-4 model">
					 <%= image_tag('randell_cock.png') %>
        </div>
        <div class="col-lg-6 text-center v-center">
          
          <h1>Stay tuned, we are launching very soon...</h1>
          <p class="lead">We are working on our website design. Leave us your email below, and we'll notify you the minute we open the doors.</p>
          
          <br><br><br>
          <%= render 'contact' %>
          <div style="padding-top: 70px"><img src="/assets/cocker-0928b35e2c7f53e45977736900da9e43.jpg" alt="Cocker"></div>
        </div>
        
      </div> <!-- /row -->
  
<!--
  	  <div class="row">
       
        <div class="col-lg-12 text-center v-center" style="font-size:39pt;">
          <a href="#"><i class="icon-google-plus"></i></a> <a href="#"><i class="icon-facebook"></i></a>  <a href="#"><i class="icon-twitter"></i></a> <a href="#"><i class="icon-github"></i></a> <a href="#"><i class="icon-pinterest"></i></a>
        </div>
      
      </div>
-->
  
</div>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69296137-1', 'auto');
  ga('send', 'pageview');

</script><script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69296137-1', 'auto');
  ga('send', 'pageview');

</script>