/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require 'masonry/transitions'
 *= require_self
 *= require_tree .
 */

@import "font-awesome.css";
@import "bootstrap-sprockets";
@import "bootstrap";



body {
	background: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
    margin-bottom: 10px;
    margin-top: 10px;

}

nav {
	
	.navbar-brand {
	  a {
		  color: #fcb843;
			font-weight: bold;
			&:hover {
				text-decoration: none;
				background-color: #fcb843;
			}
		}
	}
}

#fowls {
  margin: 0 auto;
  width: 100%;

  .box {
	  margin: 10px;
	  width: 250px;
	  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
	  border-radius: 7px;
	  text-align: left;

	  a {
	  	text-decoration: none;
	  }

	  .image {
	  	text-align: center;
	  }
		
	  img {
	    border-radius: 3px 3px 0 0;
	    height: auto;
	    margin: 0 auto;
	    max-width: 100%;
	  }
		
	  h2 {
	  	font-size: 22px;
	  	margin: 0;
	  	padding: 25px 10px;
	  	a {
				color: #474747;
	  	}
	
		  a:hover {
				color: #ffae00;
				text-decoration: none;
				background: none;
	  	}
	  }
	  .user {
	  	font-size: 12px;
	  	border-top: 1px solid #EAEAEA;
			padding: 15px;
			margin: 0;
	  }

	  .info {
	  	border-radius: 0 0 3px 3px;
	  	height: 100px;
	  	padding: 10px;

	  	.posted {
	  		color: #b8b8b8;
	  		font-family: Helvetica, sans-serif;
	  		font-size: 12px;
	  		font-style: normal;
	  		font-weight: bold;
	  		line-height: 10px;
	  	}
	  	.headline {
	  		color: #2e2e2e;
	  		font-family: Helvetica, sans-serif;
	  		font-size: 14px;
	  		font-weight: bold;
	  		line-height: 18px;
	  		overflow: hidden;
	  		padding-top: 8px;
	  		text-decoration: none;
	  		text-overflow: ellipsis;
	  	}
	  }
	}
	
	.box:hover{
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 20px #9ecaed;
		
		h2 a {
			background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
			color: #ffae00;
			text-decoration: none;
		}
		.headline {
	  	color: #ffae00;
	  }
	}
}

#edit_page {
	.current_image {
		img {
			display: block;
			margin: 20px 0;
		}
	}
}

#fowl_show {
	.title {
		margin-top: 0px;	
	}
	.panel-heading {
		padding: 0px;
	}
	.fowl_image {
		img {
			max-width: 100%;
			width: 50%;
			display: block;
			margin: 0 auto;
		}
	}
	.fowl_video {
		video {
			margin-top: 10px;
		}
	}
	.panel-body {
		padding: 35px;
		h1 {
			margin: 0 0 10px 0;
		}
		.description {
			color: #868686;
			line-height: 1.75;
			margin: 0;
		}
	}
	.panel-footer {
		padding: 20px 35px;
		p {
			margin: 0;
		}
		.user {
			padding-top: 8px;
		}
	}
}

.contact-box {
	background: #fff;
	border-radius: 3px;

	.title{
		color: #f17c36;
	}

	.location {
		line-height: 20px;
		margin-bottom: 10px;
		font-weight: bold;
	}

	.btn-orange {
		background: #f17c36;
		border-color: #de7332;
		color: #fff;
		font-weight: bold;
	}
}

textarea {
	min-height: 250px;
}

side {
	line-height:30px;
	background-color:#acc98f;
	height:300px;
	width:100px;
	float:left;
	padding:5px;
}

.container-header-color {
	background: #99CC36;
}

/* .panel-overlay-bottom-left { bottom: 15px; left: 15px; float:left; position:relative; bottom:60px} */

.panel-overlay-bottom-left {
	background-position: -427px -54px;
	bottom: 60px;
	position: relative;
	width: 130px;
}

.panel-overlay-label { background-color: rgba(60, 63, 64, 0.9); color: #fff; padding: 10px; } 
.panel-overlay-listing-label { left: 0; padding: 7px 10px; } 
.text-contrast { color: #fff; } h6, .h6 { color: #fff; font-size: 14px; font-weight: bold; } h3, .h3 { font-size: 24px; font-weight: normal; }

.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }


.fotorama__wrap {

    width: 600px;
    min-width: 0px;
    max-width: 100%;
    margin: 0 auto;
}

.panel-body {
	
	padding: 30px;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
  
  margin: -16px 0 0 -16px;
  z-index: 100;
  }

a.close {
	// set size, background image, etc.
	display: block;
	position: absolute;
	top: 1px;
	right: 1px;
}
a.close:hover {
   background-color: #fff;
   color: #FF0000;
}

.navbar-inverse {
    /*background-color: #fcb843;*/
    border: 0 none;
    border-radius: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    z-index: 888;
}

.navbar-brand {
    float: left;
    font-size: 18px;
    height: 50px;
    line-height: 20px;
    padding: 15px;
}
.navbar-inverse a.navbar-brand {
    padding: 4px 15px 8px;
}
.navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
}
.navbar-brand > img {
    display: block;
}
.margin-right-10 {
    margin-right: 10px;
}
.btn-nav {
    background: #d89f29 none repeat scroll 0 0;
    border-color: #d89f29;
    color: #fff !important;
    font-weight: bold;
}
.btn-nav:hover {
    background: #c59227 none repeat scroll 0 0;
    border-color: #c59227;
}

.dropdown-menu {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    /*background-color: #fcb843;
    border-color: #ffe1ad -moz-use-text-color -moz-use-text-color;*/
    border-image: none;
    border-radius: 0;
    border-style: solid none none;
    border-width: 0;
    margin-top: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

.panel-body {
	ul {
	  list-style-type: none;
	}

	li img {
	  float: left;
	  margin: 10px;
	  border: 5px solid #fff;

	  -webkit-transition: box-shadow 0.5s ease;
	  -moz-transition: box-shadow 0.5s ease;
	  -o-transition: box-shadow 0.5s ease;
	  -ms-transition: box-shadow 0.5s ease;
	  transition: box-shadow 0.5s ease;
	}

	li img:hover {
	  -webkit-box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
	  box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
	}
}

/*
.navbar-form {
    display: block;
    left: 45%;
    position: absolute;
    text-align: center;
    top: 6px;
}
*/
.title {
    color: #b66222;
    margin-top: 10px;
}

/*
.price {
	font-size: 2em;
    font-weight: bold;
}*/


.caption {
    overflow: hidden;
	background-color: #fff;
	padding: 18px 16px 15px;

	.name {
		margin-bottom: 10px;

		a {
		    color: #000;
		    font-family: "Poppins",sans-serif;
		    font-size: 18px;
		    font-weight: 500;
		    line-height: 26px;
		}
	}

	.percent {
	    float: left;
	    margin-right: 8px;

	     span {
		    color: #f32200;
		    font-size: 130px;
		    font-weight: 700;
		    line-height: 42px;
		}
	}

	.price-tax, .price-old {
	    color: #848484;
	}
	.price-old {
	    color: #848484;
	    font-size: 13px;
	    font-weight: 400;
	    line-height: 16px;
	}

	.name a {
	    color: #000;
	    font-family: "Poppins",sans-serif;
	    font-size: 18px;
	    font-weight: 500;
	    line-height: 26px;
	}
	a:hover {
		background-color: transparent;
	}
	.name a:hover {
	    color: #00aeef;
	}
}


/**  show fowl details  **/
.header-detail {
	margin-bottom: 10px;

  .price {
    display: block;
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 5px;
  }
}
.pdp-heading-info {
    color: #6d6e70;
    line-height: 1;

    a:hover {
		background-color: transparent;
	}
	.name a:hover {
	    color: #00aeef;
	}

	.pdp-heading-meta {
		font-size: 15px;
		 margin-top: 8px;
	}
}

.pdp-lead-col .pdp-lead-ctn {
    min-height: 475px;
    padding: 15px 15px 7px;
    box-shadow: 0 0 3px 3px #eee;
    background: #fff none repeat scroll 0 0;
}

.pdp-lead-col .pdp-lead-header {
    padding: 0 0 10px;
}

.pdp-lead-col .pdp-lead-header h3 {
    font-size: 24px;
}

.pdp-lead-col .pdp-lead-header .lead-form-contact-callout {

     a:hover {
		background-color: transparent;
	    color: #00aeef;
	}

	a {
	    color: #00aeef;
		font-size: 1.2em;
		margin-top: 8px;
	}
}

.pdp-lead-col .lead-form-ctn {
    background: #dbecf3 none repeat scroll 0 0;
    min-height: 450px;
    padding: 10px 15px;

    textarea {
	    min-height: 100px;
	}
}


.rwar {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    font-size: 14px;
    font-weight: 700;
    padding: 0 10px;
}

.navbar-default {
    background-color: #ededed;
    border-bottom: 1px solid #999;
    border-top: medium none;
    min-height: 55px;
    width: 100%;
}

.navbar-brand { position: relative; z-index: 2; }

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; }

.navbar .navbar-collapse { position: relative; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; } 
    
    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
}
