body {
	background: #fff ;
}
.contacts_layout {
	overflow: hidden;
}
h1 {
  font-family: Arial,sans-serif;
  font-size:30px;
  color:#4c4745;
}

.lead {
	color:#4c4745;
	font-size: 16px;
}


/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color:#fff;
  color:#4c4745;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:10%;
}

.model img  {
	width: 500px;
}

.navbar-logo {
	float: left;
	padding: 5px;
	height: 50px;
	
	img {
		width: 110px;
	}
  
	a:hover {
    background-color: #dff0d8;
    color: #fff;
	}
}