<% if request.subdomain == "www" %>
  <div class="list-group">
    <a href="#" class="list-group-item panel-heading">
        <h4 class="panel-title">
          <span class="glyphicon glyphicon-user">
          </span> Featured Breeders
        </h4>
    </a>

  </div>
<% else %>
  <div class="list-group">
    <a href="#" class="list-group-item panel-heading">
        <h4 class="panel-title">
          <span class="glyphicon glyphicon-facetime-video">
          </span> Fowl Videos
        </h4>
    </a>

  </div>
<% end %>