  <div class="list-group">
    <a href="#" class="list-group-item panel-heading">
        <h4 class="panel-title">
            <span class="glyphicon glyphicon-folder-close">
            </span>Bloodlines
        </h4>
    </a>

    <%= link_to "All", root_url, class: "list-group-item" %>
    <% FowlCategory.find_each do |category| %>
        <%= link_to category.name, root_url(bloodline_id: category.id), class: "list-group-item" %>
     <% end %>
    
  </div>

  <div class="list-group">
    <a href="#" class="list-group-item panel-heading">
        <h4 class="panel-title">
          <span class="glyphicon glyphicon-th">
          </span>DERBY Schedules
        </h4>
    </a>

    <%= link_to "Stag Derby", root_url, class: "list-group-item" %>
    <%= link_to "Cock Derby", root_url, class: "list-group-item" %>
  </div>